[package]
name = "rusty_paseto"
version = "0.1.10"
edition = "2018"
resolver = "2"


[dependencies]
blake2 = { version = "^0.9.2"}
chacha20poly1305 = { version = "^0.9.0"}
ring = { version = "^0.16", features = ["std"] }
base64 = "^0.13.0" 
hex = "^0.4.3"
serde= { version = "1.0.117", features = ["derive"] }
serde_json = { version = "^1.0.68"}
thiserror = "1.0.29"
iso8601 = "0.4.0"
erased-serde = "0.3.16"

[dev-dependencies]
anyhow = "1.0.44"
chrono = "0.4.19"
